h1 {
    color: #78ab46;
}



footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}


body {
    color: #2c3e50;
    background: #ecf0f1;
}
h1 {
    text-align: center;
}

/* Acordeon styles */
.tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
}
.tab input {
    position: absolute;
    /*opacity: 0;*/
    z-index: -1;
}
.tab label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #5cb85c;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
    border-radius: 4px;
}
.blue label {
    background: #2980b9;
}
.tab-content {
    max-height: 0;
    overflow: hidden;
    background: transparent;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}
.blue .tab-content {
    background: #3498db;
}
.tab-content p {
    margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
    max-height: 100vh;
}

/* Icon */
.tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.tab input[type=checkbox] + label::after {
    content: "+";
}
.tab input[type=radio] + label::after {
    content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}

.btn1{
    height: 30px;
    width: 80px;
    margin-right:5px;
    display: inline-block;
    border-radius: 4px;
    background-color: black;
    text-align: center;
    vertical-align: bottom;
    position: relative;
}

.buttons-group{
    float: right;
    margin: 10px;
}

.avatar {
    border-radius: 50%;
    width:200px
}

body {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    background-color: #EDEBE1;
    color: #98907C;
    padding: 50px;
}


.forfoto {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: url(https://fotki.ykt.ru/albums/userpics/2019/05-01/flat_550x550_075_f.u2.jpg);
    background-size: 100%;
    background-repeat: space;
    background-position: center;
    color: black;

}

.photo {
    height: 300px;
}

.button-2 {
    margin: 10px;
    position: center;
    text-align: center;
    cursor: pointer;
}


.pic-ava {
    color: #98907C; /* Цвет обычной ссылки */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.pic-ava:hover {
    color: green; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline;
} /* Добавляем подчеркивание */

   










