<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="" lang="">

<head>
    <title>All Offers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
          href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
<h2>NEW OFFER</h2>
<div class="container">


   <form action="/offer" method="post">

       <!--<div class="form-group">-->
            <!--<label>CategoryType</label>-->
            <!--<input class="form-control"  placeholder="Input Category" name="category" >-->
        <!--</div>-->


    <div class="form-group">
        <label>Condition</label>
        <input class="form-control"  placeholder="Input Condition" name="condition">
    </div>

    <div class="form-group">
        <label>Description</label>
        <input class="form-control"  placeholder="Input Description" name="offerDescription">
    </div>

    <div class="form-group">
       <label>Price</label>
        <input class="form-control"  placeholder="Input Price" name="price">

    </div>

    <div class="form-group">
        <label>Titile</label>
        <input class="form-control"  placeholder="Input Titile" name= "title">
    </div>


       <label>Status</label>
           <label>
               <input type="checkbox" checked data-toggle="toggle" name= "status">
           </label>

       <input type="submit" value="Submit">

        <!--</tr>-->

       </form>
    </div>

</body>
</html>







<!--<div class="form-group">-->
    <!--<label th:for="CategoryTypes">CategoryType</label>-->
    <!--<select th:field="*{category}">-->

        <!--<option th:each = "offerType : ${category}"-->
                <!--th:text="${offerType.name()}"-->
                <!--th:value="${offerType}">-->
        <!--</option>-->
    <!--</select>-->
<!--</div>-->




