<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="" lang="java">

<head>
    <title>All Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
          href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>

<div class="user">
    <table class="table table-striped">
        <tbody>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">City</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Password</th>
            <th scope="col">Phone</th>
            <th scope="col">Last Name</th>

        </tr>

    <tr th:each="userId: ${user}">

        <td th:text="${userId.id}">Id</td>
        <td th:text="${userId.city}">City</td>
        <td th:text="${userId.email}">Email</td>
        <td th:text="${userId.firsName}">First Name</td>
        <td th:text="${userId.password}">Password</td>
        <td th:text="${userId.phone}">Phone</td>
        <td th:text="${userId.secondName}">Last Name</td>
    </tr>
        </tbody>
    </table>
</div>
</body>
</html>

