<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns=""  lang="">

<head>
    <title>All Offers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
          href="/../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
<h2>Offers</h2>

<div th:if="${user!=null}">
    <h1> Hello  <a th:text="${user.get().getFirsName()}"></a></h1>
</div>



<div class="container">

    <div th:if="${#lists.isEmpty(offers)}">
        <h1>No one Offer yet</h1>
        <a class="btn btn-primary btn-lg btn-block" href="offer/new" role="button">Create New Offer</a>
    </div>


    <div th:if="${not #lists.isEmpty(offers)}">
        <h2> Your offers: <td th:text="${offers.size()}"></td></h2>
    </div>


    <div class="table table-striped">
    <table class="table table-striped">
    <tbody>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Condition</th>
            <th scope="col">Time</th>
            <th scope="col">Descrip</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Title</th>
            <!--<th scope="col">Id Buyer</th>-->
            <th scope="col">View Offer</th>
            <th scope="col">Edit Offer</th>
            <th scope="col">Delete Offer</th>
        </tr>

        <tr th:each="offer : ${offers}">

        <td th:text="${offer.getId()}"></td>
        <td th:text="${offer.getCondition()}"></td>
        <td th:text="${offer.getCreationTimeAndDate()}"></td>
        <td th:text="${offer.getOfferDescription()}"></td>
        <td th:text="${offer.getPrice()}"></td>

            <td>
                <span th:if="${offer.getStatus() == true}">Active</span>
                <span th:unless="${offer.getStatus()  == true}">Disable</span>
            </td>


            <td th:text="${offer.getTitle()}"></td>
            <td th:text="${offer.category.getCategory()}"></td>



            <td><a th:href="${ '/offer/' + offer.id}">View</a></td>
            <td><a th:href="${'/offer/edit/' + offer.id}">Edit</a></td>
            <td><a th:href="${'/offer/delete/' + offer.id}">Delete</a></td>

    </tr>

        </tbody>
    </table>
    </div>

        <a class="btn btn-primary btn-lg btn-block" href="offer/new" role="button">Create New Offer</a>

</div>
</div>

</body>
</html>





