<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns=""  lang="">

<head>
    <title>Edit Offer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
          href="/../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
<h2>Edit Offer</h2>

<form class="form-horizontal" action="/offer" method="post">

<div class="container">

            <div class="form-group">
                <label class="col-sm-2 control-label">Condition:</label>
                <div class="col-sm-10">
                    <label>
                        <input type="text" name="condition" class="form-control" th:value="${offer.get().condition}"/>
                    </label>
                </div>
            </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Description:</label>
            <div class="col-sm-10">
                <label>
                    <input type="text"  name="offerDescription" class="form-control" th:value="${offer.get().offerDescription}"/>
                </label>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Price:</label>
            <div class="col-sm-10">
                <input type="text" name="price" placeholder="Price" class="form-control" th:value="${offer.get().price}"/>
            </div>
        </div>



    <div class="form-group">
        <label class="col-sm-2 control-label">Status:</label>
        <div class="col-sm-10">
            <input type="text" name="status"  class="form-control" th:value="${offer.get().status}"/>
        </div>
    </div>



        <div class="form-group">
            <label class="col-sm-2 control-label">Title:</label>
            <div class="col-sm-10">
                <label>
                    <input type="text"  name="title"class="form-control" th:value="${offer.get().title}"/>
                </label>
            </div>
        </div>


    <input type="hidden"  name="id" class="form-control" th:value="${offer.get().id}"/>

    <input type="hidden"  name ="created"  class="form-control" th:value="${offer.get().getCreated()}"/>



    <input type="submit" value="Submit"/>

</div>

</body>
</html>





