<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/static/css/main.css"/>

    <title>Update Profile</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="glyphicon glyphicon-user" style="font-size:2em;"></i></h3>
                        <h2 class="text-center">Update Profile</h2>
                        <div class="panel-body">

                            <div th:if="${param.success}">
                                <div class="alert alert-info">
                                    You've successfully updated profile!
                                </div>
                            </div>

                            <form th:action="@{/registration/update}" th:object="${user}" method="post">

                                <p class="error-message"
                                   th:if="${#fields.hasGlobalErrors()}"
                                   th:each="error : ${#fields.errors('global')}"
                                   th:text="${error}">Validation error</p>


                                <!--<input  style="display: none" th:field="*{id}"/>-->
                                <!--<input style="display: none" th:field="*{password}" />-->
                                <!--<input style="display: none" th:field="*{roles}" />-->
                                <!--<input style="display: none" th:field="*{active}" />-->
                                <!--<input style="display: none" th:field="*{terms}" />-->




                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('firsName')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user color-blue"></i>
                                        </span>
                                        <input id="firsName"
                                               class="form-control"
                                               placeholder="First name"
                                               th:field="*{firsName}"/>
                                    </div>
                                    <p class="error-message"
                                       th:each="error: ${#fields.errors('firsName')}"
                                       th:text="${error}">Validation error</p>
                                </div>

                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('secondName')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user color-blue"></i>
                                        </span>
                                        <input id="secondName"
                                               class="form-control"
                                               placeholder="Last name"
                                               th:field="*{secondName}"/>
                                    </div>
                                    <p class="error-message"
                                       th:each="error: ${#fields.errors('secondName')}"
                                       th:text="${error}">Validation error</p>
                                </div>

                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">@</span>
                                        <input id="email"
                                               class="form-control"
                                               placeholder="e-mail"
                                               th:field="*{email}"/>
                                    </div>
                                    <p class="error-message"
                                       th:each="error: ${#fields.errors('email')}"
                                       th:text="${error}">Validation error</p>
                                </div>



                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        <input id="password"
                                               class="form-control"
                                               placeholder="Current password"
                                               type="password"
                                               th:field="*{password}"/>
                                    </div>
                                    <p class="error-message"
                                       th:each="error: ${#fields.errors('password')}"
                                       th:text="${error}">Validation error</p>
                                </div>

                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('matchingPassword')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        <input id="matchingPassword"
                                               class="form-control"
                                               type="password"
                                               placeholder="New Password"
                                               th:field="*{matchingPassword}"/>
                                    </div>
                                    <p class="error-message"
                                       th:each="error: ${#fields.errors('matchingPassword')}"
                                       th:text="${error}">Validation error</p>
                                </div>


                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('phone')}? 'has-error':''">
                                    <div class="input-group">
                                         <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-phone color-blue"></i>
                                        </span>
                                        <input id="phone"
                                               class="form-control"
                                               placeholder="phone"
                                               th:field="*{phone}"/>
                                    </div>
                                    <p class="error-message"
                                       th:each="error: ${#fields.errors('phone')}"
                                       th:text="${error}">Validation error</p>
                                </div>


                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('city')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-home color-blue"></i>
                                        </span>
                                        <input id="city"
                                               class="form-control"
                                               placeholder="city"
                                               th:field="*{city}"/>
                                    </div>
                                    <p class="error-message"
                                       th:each="error: ${#fields.errors('city')}"
                                       th:text="${error}">Validation error</p>
                                </div>


                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-block">Update</button>
                                    <button type="reset" class="btn btn-success btn-block">Cancel</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Already registered? <a href="/" th:href="@{/login}">Login</a>
                </div>
                <div class="col-md-12">
                    Forgot password? <a href="/" th:href="@{/forgot-password}">Reset password</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>