<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns=""  lang="">

<head>
    <title>Edit Offer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
          href="/../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
<h2>Edit Offer</h2>

<form class="form-horizontal" action="/offer"  enctype="multipart/form-data" th:object="${offer}" method="post">

<div class="container">

    <select th:field="*{condition}">
        <option th:each="con : ${conditions}"
                th:value="${con}"
                th:text="${con}">
        </option>
    </select>


        <div class="form-group">
            <label class="col-sm-2 control-label">Description:</label>
            <div class="col-sm-10">
                <label>
                    <input type="text"  name="offerDescription" class="form-control" th:value="${offer.get().offerDescription}"/>
                </label>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Price:</label>
            <div class="col-sm-10">
                <input type="text" name="price" placeholder="Price" class="form-control" th:value="${offer.get().price}"/>
            </div>
        </div>




    <div class="form-check">
    <input type="checkbox" name="status"  th:field="*{status}"/>
    </div>





        <div class="form-group">
            <label class="col-sm-2 control-label">Title:</label>
            <div class="col-sm-10">
                <label>
                    <input type="text"  name="title"class="form-control" th:value="${offer.get().title}"/>
                </label>
            </div>
        </div>



    <select th:field="*{category.id}">
        <option th:each="cat : ${categories}"
                th:value="${cat.id}"
                th:text="${cat.category}">
        </option>
    </select>


    <input type="hidden"  name="id" class="form-control" th:value="${offer.get().id}"/>

    <input type="hidden"  name ="created"  class="form-control" th:value="${offer.get().getCreated()}"/>

    <div>
       <ul>
           <li th:each="file : ${images}">
                <!--<a th:href="${file.getPath()}" th:text="${file.getImageOffer()}" />-->
               <img type="image" th:width="200px" th:src="@{'/images/' + ${file.getName()}}"/>
           </li>
        </ul>
    </div>


    <!--<div th:each="file : ${images}">-->
        <!--<div class="gallery">-->
            <!--<a th:href="${file.getPath()}"> <img th:src="${file.getPath()}" />-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>


</div>

</body>
</html>





