<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="" lang="">

<head>
    <title>All Offers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
          href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
<h2>New User</h2>
<div class="container">

    <form  th:action="@{/registration}" th:object="${user}" enctype="multipart/form-data" method="post">


        <p>Firs Name: <input placeholder="Firs Name" type="text" th:field="*{firsName}" required="" /></p>
        <p>Second Name: <input placeholder="Second Name" type="text" th:field="*{secondName}" /></p>
        <p>Email: <input placeholder="Email" type="email" th:field="*{email}" required=""/></p>
        <p>Phone: <input placeholder="Phone" type="text" th:field="*{phone}" /></p>
        <p>City: <input placeholder="City" type="text" th:field="*{city}" required=""/></p>


        <input  type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{password}" />
        <input type="hidden" th:field="*{roles}" />
        <input type="hidden" th:field="*{active}" />
        <!--<input type="hidden" th:field="*{created}" />-->

        <div>
            <input id="oldpass" name="oldpassword" type="password" />
            <input id="pass" name="password" type="password" />
            <input id="passConfirm" type="password" />
            <span id="error" style="display:none">Password mismatch</span>

            <button type="submit" onclick="savePass()">Change Password</button>
        </div>


        <input type="file" name="file" multiple>

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>


    <script src="jquery.min.js"></script>

</div>

</body>
</html>





