<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="" lang="">

<head>
    <title>All Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
          href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>

<h1>Spring Boot file upload example</h1>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="Submit" />
</form>

</body>
</html>

